%{eval}%{ } %{red}█████╗%{-} %{yellow}███╗   ██╗%{-}%{white}███████╗%{-}%{green}██╗%{-}   %{bg+cyan}██████╗%{-} %{bg+hi+blue}██████╗%{-} %{bg+hi+black}██╗%{-}      %{bg+purple}██████╗%{-} %{bg+red}██████%{}╗%{-} %{bg+yellow}███████╗%{-}
%{  }%{red}██╔══██╗%{-}%{yellow}████╗  ██║%{-}%{white}██╔════╝%{-}%{green}██║%{-}  %{bg+cyan}██╔════╝%{-}%{bg+hi+blue}██╔═══██╗%{-}%{bg+hi+black}██║%{-}     %{bg+purple}██╔═══██╗%{-}%{bg+red}██╔══█%{}█╗%{-}%{bg+yellow}██╔════╝%{-}
%{  }%{red}███████║%{-}%{yellow}██╔██╗ ██║%{-}%{white}███████╗%{-}%{green}██║%{-}  %{bg+cyan}██║%{-}     %{bg+hi+blue}██║   ██║%{-}%{bg+hi+black}██║%{-}     %{bg+purple}██║   ██║%{-}%{bg+red}█████%{}█╔╝%{-}%{bg+yellow}███████╗%{-}
%{  }%{red}██╔══██║%{-}%{yellow}██║╚██╗██║%{-}%{white}╚════██║%{-}%{green}██║%{-}  %{bg+cyan}██║%{-}     %{bg+hi+blue}██║   ██║%{-}%{bg+hi+black}██║%{-}     %{bg+purple}██║   ██║%{-}%{bg+red}██╔══%{}██╗%{-}%{bg+yellow}╚════██║%{-}
%{  }%{red}██║  ██║%{-}%{yellow}██║ ╚████║%{-}%{white}███████║%{-}%{green}██║%{-}  %{bg+cyan}╚██████╗%{-}%{bg+hi+blue}╚██████╔╝%{-}%{bg+hi+black}███████╗%{-}%{bg+purple}╚██████╔╝%{-}%{bg+red}██║%{-}  %{bg+red}██║%{-}%{bg+yellow}███████║%{-}
%{  }%{red}╚═╝  ╚═╝%{-}%{yellow}╚═╝  ╚═══╝%{-}%{white}╚══════╝%{-}%{green}╚═╝%{-}   %{bg+cyan}╚═════╝%{-} %{bg+hi+blue}╚═════╝%{-} %{bg+hi+black}╚══════╝%{-} %{bg+purple}╚═════╝%{-} %{bg+red}╚═╝%{-}  %{bg+red}╚═╝%{-}%{bg+yellow}╚══════╝%{-}%{LF}